@import "../../variables.module.css";

.tag {
    color: var(--text-light);
    padding: 0.4em 0.5em 0.2em 0.5em;
    border-radius: 0.5em;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
}

.tag&.transparent {
    padding: 0;
}

.tag .icon {
    margin-right: 0.5em;
}

.tag .title {
    position: relative;
    top: -0.2em;
}

.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li {
    margin-right: 1em;
}

.list li:last-child {
    margin-right: 0;
}