.activeList {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  font-weight: 400;
}

.item {
  position: relative;
  padding-left: 1.5em;
  transition: all 0.2s ease;
}

.item a {
  text-decoration: none;
  color: inherit;
}

.item:hover a {
  font-weight: bold;
}

.item::before {
  content: '>';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.active::before {
  opacity: 1;
}

.item:hover::before {
  opacity: 1 !important;
}

.activeList:hover .active::before {
  opacity: 0;
}
