@import "../../../../variables.module.css";

.bar {
    background: var(--background-dark);
    border-bottom: 1px solid var(--border-prompt);
}

.bar ul {
    height: 66px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo {
    height: 30px;
}

.bar li:first-child {
    margin-right: auto;
}

.bar a {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1em;
}

.bar a:hover {
    background: linear-gradient(to bottom, var(--background-dark), var(--border-prompt));
}
