.heading {
  margin-bottom: 0.5rem;
}

.replyDate {
  font-size: 0.8rem;
  color: #666;
  margin: 0.25rem 0;
}

.content {
  display: flex;
  gap: 1rem;
}

.text {
  flex: 1;
}

.image {
  width: 300px;
  object-fit: cover;
  margin-left: 1rem;
}
