.heading {
  margin-bottom: 0.5rem;
  font-size: 1em;

  h1 {
    font-size: 1.2em;
  }
}

.content {
  display: flex;
  gap: 1rem;

  h1,h2,h3 {
    font-size: 1.1em;
    margin-bottom: 1em;
  }

  h2,h3 {
    font-size: 1em;
  }

  ul {
    margin-bottom: 0.8em;

    li {
      list-style-type: none;
      margin-bottom: 0.2em;

      &::before {
        content: "✅";
        margin-right: 0.5em;
      }
    }
  }

  ol {
    counter-reset: item;
    list-style: none;
    margin-bottom: 1em;
  }

  ol li::before {
    counter-increment: item;
    content: counter(item) ".";
    display: inline-block;
    width: 1.5em;
    text-align: left;
    margin-right: 0.5em;
  }

  hr {
    margin: 1em 0;
    border: none;
    border-top: 1px solid #ccc;
    height: 1px;
  }

  sup {
    margin-right: 0.2em;
  }

}

.text {
  flex: 1;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 1rem;
}

.footer {
  margin-bottom: 0.5em;
}