@use './variables.module.scss' as vars;

/**
⚠️ Only global styles in this file, use thing.module.scss for components etc

light: 300
regular: 400
medium: 500;
semibold: 600;
 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&display=swap');

/**
   Only global styles in this file
 */

* {
	margin: 0;
	padding: 0;
}

a {
	/*text-decoration: none;*/
	color: vars.$text-light;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;

	margin: 0;
	background-image:
			linear-gradient(to right, vars.$background-dark 1px, transparent 1px),
			linear-gradient(to bottom, vars.$background-lines-dark 1px, transparent 1px);
	background-size: 20px 20px;
	background-color: vars.$background-dark;
	color: vars.$text-light;
}