/**
⚠️ Only global styles in this file, use thing.module.css for components etc

light: 300
regular: 400
medium: 500;
semibold: 600;
 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&display=swap');
@import './variables.module.css';

/**
   Only global styles in this file
 */

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--text-light);
}

a img {
	border: none;
}

body {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	font-style: normal;

	margin: 0;
	background-image:
			linear-gradient(to right, var(--background-lines-dark) 1px, transparent 1px),
			linear-gradient(to bottom, var(--background-lines-dark) 1px, transparent 1px);
	background-size: 20px 20px;
	background-color: var(--background-dark);
	color: var(--text-light);
}
