$main-background: #0c0c0c; // background color and top bar background color
$background-grid-lines: #272727; // grid pattern background + bottom bar top line

$border-prompt: #3b3b3b; // borders around prompt results top bar and prompt field
$primary-content-background: #161616; // prompt response background color, prompt input background color

$secondary-content-background: #32869c; // prompt question background color, sidebar navigation background color

$text-light: #fafdff; // Basically any text that is not a link etc (also input text)
$text-link: #52C5E2; // text link colors

$max-content-width: 1200px;

:export {
  /** used with Icon, see if I can skip that and use css to color it */
  textLight: $text-light;
}
