:root {
    --background-dark: #0C0C0C;
    --border-prompt: #3B3B3B;
    --lighter-dark: #161616;
    --prompt-blue: #89C6E3;
    --text-light: #FAFDFF;
    --background-lines-dark: #272727;

    --max-content-width: 1200px;
    --content-left-offset: 240px
}

:export {
    backgroundDark: #0C0C0C;
    borderPrompt: #3B3B3B;
    lighterDark: #161616;
    promptBlue: #89C6E3;
    textLight: #FAFDFF;
    backgroundLinesDark: #272727;
}