@use '../ContentBox/Box/style.module.scss' as box;
@use '../../variables.module.scss' as vars;

.input {
  @include box.primary;
  border-width: 2px;
  color: vars.$text-light;
  font-weight: 400;
  font-size: 16px;
  caret-color: transparent;
}

.input:focus {
  outline: none;
  border-color: vars.$secondary-content-background;
}

.processing {
}

.caret {
  height: 26px;
  width: 4px;
  display: inline-block;
  background: vars.$text-link;
  border-radius: 0.5em;
  pointer-events: none;
  animation: caretFade 1.2s infinite ease-in-out;
  opacity: 0;
}

@keyframes caretFade {
  0%,
  100%,
  90%,
  10% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
