@use '../../variables.module.scss' as vars;

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    height: 66px;
    flex-shrink: 0;
  }

  main {
    flex: 1;
    width: 100%;
    margin-bottom: calc(60px + 4rem);
  }

  footer {
    height: 60px;
    box-sizing: content-box;
    bottom: 0;
    position: fixed;
    left: 0;
    z-index: 1;
    padding: 2rem;
    width: calc(100% - 4rem);
    border-top: 1px vars.$background-grid-lines solid;
  }
}

.container {
  max-width: vars.$max-content-width;
  margin: 2rem auto;
  display: flex;
  height: 100vh;

  nav {
    flex-shrink: 0;
    margin-right: 2rem;

    >div {
      position: sticky;
      top: 2rem;
    }
  }

  section {
    flex: 1;
    min-width: 0;
  }
}

.blurrer {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}