@import '../../variables.module.css';


.container {
    max-width: var(--max-content-width);
    margin: 0 auto;
}

main {
    /**
    nav - nav margin
     */
    height: calc(100vh - 66px - 112px);
    overflow: auto;
}

footer {
    height: 112px;
}
