@import '../../variables.module.css';

.tinted {
    position: relative;
    display: inline-block;
}

.tinted:hover::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: var(--prompt-blue);
    mix-blend-mode: multiply;
    pointer-events: none;
}

.outer-container {

}

.content-box {
    background: var(--lighter-dark);
    border: 1px solid var(--border-prompt);
    border-radius: 11px;
    margin-bottom: 40px;
    padding: 12px 20px;
    display: inline-block;
    font-weight: 300;
}

.content-box p {
    margin-bottom: 16px;
}

.primary {
    border: none;
    background: var(--prompt-blue);
    font-weight: 600;
}

.container {
    max-width: var(--max-content-width);
    margin: 0 auto;
}

main {
    /**
    nav - nav margin
     */
    height: calc(100vh - 66px - 112px);
    overflow: auto;
}

header {
    height: 66px;
    background: var(--background-dark);
    border-bottom: 1px solid var(--border-prompt);
}

footer {
    height: 112px;
}

