.container {
    margin: 0;
    background-image:
            linear-gradient(to right, var(--background-lines-dark) 1px, transparent 1px),
            linear-gradient(to bottom, var(--background-lines-dark) 1px, transparent 1px);
    background-size: 20px 20px;
    background-color: var(--background-dark);
    color: var(--text-light);
}